
<div class="container p-4">
    <div class="row">
        <div class="col-sm-12">
            <h6 class="title">Unknown Person Details</h6>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate class="form-horizontal">
                <div class="row basic_info">
                    <div class="col-sm-4 mb-3">
                        <div class="form-group">
                            <label>Full Name</label>
                            <input type="text" name="fullName" formControlName="fullName" class="form-control" placeholder="Your Name"id="fullName" />
                        </div>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <div class="form-group">
                            <label>E-mail Address</label>
                            <input type="text" name="email" formControlName="email" class="form-control" placeholder="Your Email"id="email" />
                        </div>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <div class="form-group">
                            <label>Contact Number</label>
                            <input type="text" name="contactNumber" formControlName="contactNumber" class="form-control" placeholder="Contact Number"id="contactNumber" />
                        </div>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <div class="form-group">
                            <label>Business/Personal URL</label>
                            <input type="text" name="url" formControlName="url" class="form-control" placeholder="url"id="url" />
                        </div>
                    </div>

                </div>

                <div class="row desc">
                    <div class="col-sm-4 mb-3">
                        <div class="form-group">
                            <label>Message you want to deliver</label>
                            <textarea placeholder="desc" rows="5" cols="150" formControlName="desc" required></textarea>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-sm-12">
                        <h6 class="title">Business Address</h6>
                    </div>
                </div>
                <div class="row permanent_addresses" formGroupName="address">
                    <div class="col-sm-4 mb-3">
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" name="address" formControlName="fullAddress" class="form-control" placeholder="Address" id="address" />
                        </div>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <div class="form-group">
                            <label>Country</label>
                            <input type="text" name="country" class="form-control" formControlName="country" placeholder="Country"id="country" />
                        </div>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <div class="form-group">
                            <label>State</label>
                            <input type="text" name="state" class="form-control" formControlName="state" placeholder="State"id="state" />
                        </div>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <div class="form-group">
                            <label>City</label>
                            <input type="text" name="city" class="form-control" formControlName="city" placeholder="City" id="city" />
                        </div>
                    </div>
                </div>


                <div *ngIf="displayURL" class="row GPS">
                    <div class="row mt-4">
                        <div class="col-sm-12">
                            <h6 class="title">GPS Location</h6>
                        </div>
                    </div>

                    <iframe 
                    width="425"
                    height="350"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                    [src]="displayURL"
                  ></iframe>
                </div>

                <div *ngIf="!isButtonDisabled" class="row submit">
                    <div *ngIf="isButtonDisabled" class="col-sm-4 mb-3">
                        <button class="btn btn-primary btn-outline" type="submit" >Submit</button>
                    </div>
                </div>
            
            </form>
        </div>
    </div>
</div>




